/* Master Styles */
body {
    margin: 2em;
}

/**
    Photon styles overrides
 */
.list-group-item:hover {
    background-color: #ee9d02;
}

.list-group-item:last-child {
    border-bottom: 1px solid #ddd;
}

.list-group-item > div.media-body, .list-group-item > div.media-body * {
    cursor: hand !important;
}

.btn:focus {
    border: 2px solid #6db3fd;
}

.btn-primary:focus {
    border-color: #ee9d02;
}
